<!DOCTYPE html>
<html>
<head>
	<title>xhust</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<link rel="shortcut icon" href="__PUBLIC__/Apps/xhust.ico">
</head>

<include file="./Public/Html/function.html"/>

<style type="text/css">
	.my-container{
		padding: 5em 0.3em 0 0.3em;
		background: #eeeeee;
	}
	.article-abstract{
		width: 100%;
		background: white;
		border-radius: 5px;
		padding: 0.5em;
		margin-top:0.5em;
	}
	.article-abstract>p{
		line-height: 1.6em;
		height: 3.2em;
		overflow: hidden;
		text-overflow:ellipsis;
	}
	.article-info{
		height: 2em;
	}
	.article-info>span{
		float: right;
		padding-right: 0.5em;
		color: #A8B1BA;
	}
</style>
<body style="background: #eeeeee;padding: 0;margin: 0;">	
	<include file="./Public/Html/header.html"/>
	<div {:choose_class()}>
		<div class="my-container">			
			<div>
				<div class="row">
					<div class="col-md-8">
						<h3><i class="fa fa-list-ul fa-lg"></i>&nbsp;文章&nbsp;|&nbsp;List</h3>
						<div>
							<volist name="article" id="vo">
								<div class="article-abstract">
									<h4>{$vo['title']}</h4>
									<p>
										<strong>摘要:</strong>
										{:filter($vo['content'])}
									</p>
									<div class="article-info">
										<span>
											<i class="fa fa-eye fa-lg"></i>({$vo['read_times']})
										</span>
										<span>
											<i class="fa fa-thumbs-o-up fa-lg"></i>
											({$vo['love_times']})
										</span>
										
										<span>
										<i class="fa fa-clock-o fa-lg"></i> {:date('Y-m-d',strtotime($vo['created_at']))}</span>
										<span>
											<i class="fa fa-user-circle-o fa-lg"></i>
											{$vo['author']}
										</span>
										<span><a href="{:U('Home/Article/index?id='.$vo['id'])}" target="_blank">阅读全文</a></span>
									</div>
								</div>
							</volist>
						</div>
					</div>
					<div class="col-md-4">
						<h3>&nbsp;</h3>
						{:W('Info/index')}

					</div>
				</div>
			</div>
			<div class="comment">
				{:W('Comment/index',array(0,$category))}
			</div>
			<include file="./Public/Html/footer.html"/>
		</div>	
	</div>
</body>
<script type="text/javascript">
	
</script>
</html>