<layout name="Public/template"/>
<style type="text/css">
	.all-table{
		display: block;
		text-align: center;
		font-size: 1.3em;
		color: black;
	}
	.all-table:hover{
		text-decoration: none;
		color:#5CB85C;
	}
	.all-table:focus{
		text-decoration: none;
		color: black;
	}
	.btn-edit{
		width: 100%;
	}
</style>
<div class="row">
	<div class="col-md-12">
		<h3>数据库&nbsp;|&nbsp;Sweat</h3>
		<table class="table table-striped">
			<foreach name="db_tables" item="vo">
				<tr>
					<td>
						<php>
							$prefix=C('DB_PREFIX');
							$vo=substr($vo,strlen($prefix));
						</php>
						<a target="_blank" class="all-table" href="{:U('Admin/EditTable/index?table='.$vo)}">{$vo}</a>
					</td>
				</tr>
			</foreach>
		</table>
		<h3>缓存文件&nbsp;|&nbsp;Uploads</h3>
		<a href="{:U('Admin/EditFile/index')}">
			<button class="btn-edit btn btn-danger">删除缓存文件</button>
		</a>
	</div>	
</div>
<script type="text/javascript">
	
</script>