<!DOCTYPE html>
<html>
<head>
    <title>xhust</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="shortcut icon" href="__PUBLIC__/Apps/xhust.ico">
</head>
<style type="text/css">
    .my-container{
        padding-top:5em;
        padding: 0 0.3em 0 0.3em;
    }
    .title{
        border-radius: 10px; 
    }
    .content{
        margin-top:1em;
        background: white;
        padding: 0.5em;
        border-radius: 10px;
        margin-bottom: 1em;
    }
    .content img{
        max-width: 100%;
    }
    .tail{
        color: #639737;
    }
    .article-info{
        height: 2em;
    }
    .article-info>span{
        float: right;
        padding-right: 0.5em;
        color: #A8B1BA;
    }
</style>
<include file="./Public/Html/function.html"/>
<body style="background: #eeeeee;">
    <include file="./Public/Html/header.html"/> 
    <div {:choose_class()}>
        <div class="my-container">
            <div class="row">
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="title">
                         <h3><i class="fa fa-file-text fa-1x">&nbsp;</i>
                            <span class="article_title">{$article[0]['title']}</span>
                         </h3>
                    </div>
                    <div class="content">
                        {$article[0]['content']|blog_decode}

                        <div class="tail">{$Think.config.article.tail}</div>
                        <div class="article-info">
                            <span>
                                <i class="fa fa-eye fa-1x"></i>({$article[0]['read_times']})
                            </span>
                            <span>
                                <i class="fa fa-thumbs-o-up fa-1x"></i>
                                (<span class="love_times">{$article[0]['love_times']}</span>)
                            </span>
                            
                            <span>
                            <i class="fa fa-clock-o fa-1x"></i> {:date('Y-m-d',strtotime($article[0]['created_at']))}</span>
                            <span>
                                <i class="fa fa-user-circle-o fa-1x"></i>
                                {$article[0]['author']}
                            </span>                           
                        </div>
                    </div>
                    <button id="{$article[0]['id']}" class="btn btn-success btn-love">这篇文章对我有用，我要点赞&nbsp;<i class="fa fa-thumbs-o-up fa-1x"></i>&nbsp;<span class="love_times">{$article[0]['love_times']}</span></button>
                </div>
                <div class="col-md-4">
                    <php>
                        $is_phone=is_mobile();
                        if(!$is_phone){
                            W('Blog/blogrank');
                        }
                    </php>
                                    
                </div>
            </div>

            <div class="comment">
                {:W('Comment/index',array($app_id,$category))}
            </div>
            <include file="./Public/Html/footer.html"/>
        </div>
    </div>
    <include file="./Public/Html/anchor.html"/> 
</body> 
<script type="text/javascript">
   
    jQuery(document).ready(function($) {
        var pt=$(".mynavdiv").height();
        $('.my-container').css('padding-top',pt);
        $(window).resize(function(event) {
            var pt=$(".mynavdiv").height();
            $('.my-container').css('padding-top',pt);
        });
        $(".btn-love").click(function(event) {
            /* Act on the event */
            var url='{:U("Home/Article/addHeart")}';
            var id=$(this).attr('id');
            $.post(url, {id: id}, function(data, textStatus, xhr) {
                if(data['status']==1){
                    $(".love_times").text(data['data']);
                }
            }); 
        });
    });
</script>
</html>