<!DOCTYPE html>
<html>
<head>
	<title>xhust</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>
<css href="__PUBLIC__/Css/Home/index.css"/>

<!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<js href="__PUBLIC__/Js/jquery-2.1.0.min.js"/>
<css href="__PUBLIC__/Slippry/slippry.css"/>
<js href="__PUBLIC__/Slippry/slippry.min.js"/>
<js href="__PUBLIC__/jquery.particleground.js"/>
<js href="__PUBLIC__/Letter/jquery.hoverwords.js"/>
<js href="__PUBLIC__/Letter/jquery.lettering.js"/>
<js href="__PUBLIC__/Letter/jquery.easing.1.3.js"/>

<css href="__PUBLIC__/Calendar/simple-calendar.css"/>
<js href="__PUBLIC__/Calendar/simple-calendar.js"/>

<js href="__PUBLIC__/Js/Home/index.js"/>

<body style="background: #107987;">
	<include file="Public/header"/>
	<div class="container main">
		<div class="row">
			<div class="col-md-8">
				<ul class="slippry-ppt">
					<li class="slippry-one">
						<a href="#" id="example1" >HELLO</a>
						<a href="#" id="example2" >DARLING!</a>
						<br/>
						<a href="#" id="example3" >WELCOME</a>
						<a href="#" id="example4" >TO</a>
						<a href="#" id="example5" >MY</a>
						<a href="#" id="example6" >WORLD!</a>
					</li>
					<li class="slippry-two"></li>
					<li>4</li>
					<li>5</li>
				</ul>
			</div>
			<div class="col-md-4">
				<div class="c-date">
					<div class="my-date"></div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-8">
				<ul class="my-apps">
					<volist name="apps" id="vo">
						<li>
							{$vo.name}
						</li>
					</volist>
				</ul>
			</div>
			<div class="col-md-4"></div>
		</div>
	</div>
</body>
<script type="text/javascript">
	
</script>
</html>