<layout name="Public/template"/>
<css href="__PUBLIC__/datepicker/css/bootstrap-datetimepicker.min.css"/>
<css href="__PUBLIC__/citypicker/css/city-picker.css"/>
<style type="text/css">
	.form-p{
		margin-bottom: 0.5em;
	}
	.div-about{
		line-height: 1.7em;
	}
	.gender{
	
	}
	.photo-img{
		max-height: 4em;
	}
	.id-result{
		background: transparent;
		max-width: 100%;
	}
	.loader,.loader-photo{
		display: none;
	}
</style>
<div class="row">
	<div class="col-md-8">
		<div class="row">
			<div class="col-md-6">
				<div class="form-horizontal">
					<div class="form-group">
						<label for="name" class="col-md-4 control-label">姓名</label>         
						<div class="col-md-8">
							<input  id="name" class="form-control" type="text" value="张三"/>
						</div>
					</div>
					<div class="form-group">
			        	<label for="gender" class="col-md-4 control-label">性别</label>
					    <div class="col-md-8">
					      	<select class="form-control gender">
					      		<option>男</option>
					      		<option>女</option>
					      	</select>
					    </div>
			        </div>
			        <div class="form-group">
						<label for="nation" class="col-md-4 control-label">民族</label>         
						<div class="col-md-8">
							<select class="form-control nation">
								
							</select>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-horizontal">
					<div class="form-group">
			            <label for="birthday" class="col-md-4 control-label">出生日期</label>         
						<div class="col-md-8">
							<input type="text" class="form-control" id="birthday" data-date-format="yyyy-mm-dd" value="2018-03-07" readonly>
						</div>
			        </div>
			        <div class="form-group">
			            <label for="date-from" class="col-md-4 control-label">办证日期</label>         
						<div class="col-md-8">
							<input type="text" class="form-control" id="date-from" data-date-format="yyyy-mm-dd" value="2018-03-07" readonly>
						</div>					
			        </div>
			        <div class="form-group">
			            <label for="date-len" class="col-md-4 control-label">有效期</label>         					
						<div class="col-md-8">
							<select class="form-control date-len">
								<option>5</option>
								<option>10</option>
								<option>15</option>
								<option>20</option>
							</select>
						</div>
			        </div>
				</div>		        
			</div>
		</div>
		<div class="form-horizontal">
			<div class="form-group">
				<label for="city-picker" class="col-md-2 control-label">户籍地</label>         
				<div class="col-md-10">
					<input  id="city-picker" class="form-control" readonly type="text" value="湖北省/武汉市/洪山区" data-toggle="city-picker"/>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="form-horizontal">		
			        <div class="form-group">
			        	<label for="photo" class="col-md-4 control-label">上传照片(1M)</label>
						<div class="col-md-8">
							<input class="form-control" id="photo" type="file" name="file">
						</div>					
					</div>		        
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-horizontal">
					<div class="form-group">
						<label for="photo-img" class="col-md-4 control-label">当前照片
						<span class="loader-photo">
								<include file="./Public/loader/spin.html"/>
							</span>
						</label>	
					    <div class="col-md-4">
					    	<img class="photo-img" src="__PUBLIC__/Apps/IDcard/img/photo_low.png">
					    </div>	
					    <div class="col-md-4">
					    	<div style="text-align: center;">
						    	<button class="btn btn-success btn-gen">生成身份证</button>
						    	<span class="loader">
									<include file="./Public/loader/spin.html"/>
								</span>
					    	</div>
					    </div>				 
			        </div>
			    </div>
			</div>
		</div>
		<div class="form-horizontal">
			<img class="id-result" src="">
		</div>
	</div>
	<div class="col-md-4">
		<div class="form">
			<div class="input-group" style="margin-bottom: 0.5em;">
			    <input type="text" class="form-control id-number" placeholder="请输入第二代(18位)身份证号码" value="">
			    <span class="input-group-btn">
			        <button class="btn-s btn btn-default" type="button">
			        	&nbsp;&nbsp;<i class="fa fa-search fa-1x"></i>&nbsp;&nbsp;
			        </button>
			    </span>
		    </div>
			
			<div>
				<table class="table table-bordered table-striped">
					<tr>
						<td style="text-align: center;" colspan="2">
							<strong>身份证信息</strong>
						</td>
					</tr>
					<tr>
						<td>身份证号:</td>
						<td class="identity_num"></td>
					</tr>
					<tr>
						<td>归属地:</td>
						<td class="identity_place"></td>
					</tr>
					<tr>
						<td>性别:</td>
						<td class="identity_sex"></td>
					</tr>
					<tr>
						<td>生日:</td>
						<td class="identity_birthday"></td>
					</tr>
				</table>
			</div>
			<div class="div-about">
	            <p>
	                &nbsp;&nbsp;&nbsp;<strong>公民身份证</strong>号码是由17位数字码和1位校验码组成。排列顺序从左至右分别为：6位地址码，8位出生日期码，3位顺序码和1位校验码。
	            </p>
	            <p>
	                &nbsp;&nbsp;&nbsp;地址码和出生日期码很好理解，顺序码表示在同一地址码所标识的区域范围内，对同年同月同日出生的人编定的顺序号，顺序码的奇数分配给男性，偶数分配给女性。
	            </p>
	            <p>
	                身份证最后一位校验码算法如下：
	                <span> 1. 将身份证号码前17位数分别乘以不同的系数，从第1位到第17位的系数分别为：7 9 10 5 8 4 2 1 6 3 7 9 10 5 8 4 2。</span>
	                <span>2. 将得到的17个乘积相加。</span>
	                <span>3. 将相加后的和除以11并得到余数。</span>
	                <span>4. 余数可能为0 1 2 3 4 5 6 7 8 9 10这些个数字，其对应的身份证最后一位校验码为
	                	<strong>1 0 X 9 8 7 6 5 4 3 2</strong>。</span>
	            </p>
	        </div>
		</div>
	</div>
</div>
<js href="__PUBLIC__/datepicker/js/bootstrap-datetimepicker.min.js"/>
<js href="__PUBLIC__/datepicker/js/locales/bootstrap-datetimepicker.zh-CN.js"/>
<js href="__PUBLIC__/citypicker/js/city-picker.data.min.js"/>
<js href="__PUBLIC__/citypicker/js/city-picker.min.js"/>
<js href="__PUBLIC__/jQuery-File-Upload-8.8.5/js/vendor/jquery.ui.widget.js"/>
<js href="__PUBLIC__/jQuery-File-Upload-8.8.5/js/jquery.iframe-transport.js"/>
<js href="__PUBLIC__/jQuery-File-Upload-8.8.5/js/jquery.fileupload.js"/>
<js href="__PUBLIC__/china/js/nations.js"/>
<script type="text/javascript">
	jQuery(document).ready(function($) {		
		$('#birthday,#date-from').datetimepicker({
	        language:  'zh-CN',
	        initialDate:new Date(),
	        weekStart: 1,
	        todayBtn:  1,
			autoclose: 1,
			todayHighlight: 1,
			startView: 2,
			minView: 2,
			forceParse: 0,
			endDate:new Date(),
	    });
	    $(".nation").setNation();
		$('#photo').fileupload({
	        dataType: 'json',
	        url:"{:U('uploadPhoto')}",
	        done: function (e, data) {
	           /*alert(JSON.stringify(data));*/
	            if(data.result.status==1){
	            	var url="__ROOT__"+data.result.pic_url;
	            	$(".photo-img").attr('id',data.result.pic_url);
	            	$(".photo-img").attr({src:url});
	            }else{
	           	    alert_alt(data.result.error);	
	            }
	            $(".loader-photo").css("display","none");
	        },
	        change:function(){
	        	$(".loader-photo").css("display","inline-block");
	        }
   		});

	    $(".btn-gen").click(function(event) {
	    	var name=$("#name").val();
	    	var nation=$(".nation option:selected").val();
	    	var place=$("#city-picker").val();
	    	var birthday=$("#birthday").val();
	    	var gender=$(".gender option:selected").val();
	    	var date=$("#date-from").val();
	    	var photo=$(".photo-img").attr("id");
	    	var len=$(".date-len option:selected").val();
	    	/*alert(name+place+birthday+gender);*/
	    	var url="{:U('generateID')}";
	    	url+=("?name="+name);
	    	url+=("&&nation="+nation);
	    	url+=("&&place="+place);
	    	url+=("&&birthday="+birthday);
	    	url+=("&&date="+date);
	    	url+=("&&gender="+gender);
	    	url+=("&&len="+len);
	    	if(photo!=null&&photo!=""){
	    		url+=("&&photo="+photo);
	    	}
	    	url=encodeURI(url);
	    	
	    	$(".loader").css("display","inline-block");
	    	$(".id-result").attr("src",url);
	    	$(".id-result").css("visibility","hidden");
	    	$(".id-result").load(function() {
	    		$(".id-result").css("visibility","visible");
	    		$(".loader").css("display","none");
	    	});
	    	//$(".test").text(url);
	    	//alert(url);

	    });
		$(".btn-s").click(function(event) {
			postInfo();
		});
		var legal2 = new Array(7, 9, 10, 5, 8, 4, 2, 1, 6, 3, 7, 9, 10, 5, 8, 4, 2);
		var legal2Verify = "10X98765432";
		function postInfo(){
			var idNum=$(".id-number").val().toUpperCase();
			if(idNum==null||idNum==""){
				alert_alt('请输入第二代身份证号码！')
			}else if (idCheck(idNum)) {
		        if (idLegal(idNum)) {
		            postID(idNum);
		        } else {
		            alert_alt("身份证号码不存在");
		        }
		    } else {
		        alert_alt("身份证号码输入错误");
		    }
		}
		$(".btn-gen").click();
		function postID(idNum) {
			var url="{:U('getID')}";
		    $.post(url, {
		        "id" : idNum
		    }, function(data) {
		        showResult(data);
		    });
		}

		function showResult(obj) {
		    if (obj.status == "OK") {
		        $(".identity_num").text(obj.data.id);
		        $(".identity_place").text(obj.data.place);
		        $(".identity_sex").text(obj.data.sex);
		        $(".identity_birthday").text(obj.data.birthday);
		        $(".div_result").css("color", "white");
		    } else {
		        alert_alt(obj.status);
		    }
		}
		function idLegal(idNum) {
		    if (idNum.length == 18) {
		        var total = 0;
		        for (var i = 0; i < legal2.length; i++) {
		            total += parseInt(idNum.charAt(i)) * legal2[i];
		        }
		        //alert(total);
		        var left = total % 11;
		        var tail = idNum.charAt(17);
		        if (legal2Verify.charAt(left) == tail) {
		            return true;
		        }
		        return false;
		    }
		}

		function idCheck(idNum) {
		    if (idNum.length == 18) {
		        var head = idNum.substring(0, 17);
		        //alert(head);
		        if (!$.isNumeric(head)) {
		            return false;
		        }
		        var tail = idNum.charCodeAt(17);
		        if (tail >= 48 && tail <= 57) {
		            return true;
		        } else if (tail == 88) {
		            return true;
		        }
		        return false;
		    }
		}
	});
	
</script>