<layout name="Public/template"/>
<style type="text/css">
	.my-weather{
		padding-bottom: 1em;
		margin: 0 0.5em 0 0.5em;
	}
	.app-title{
		
	}
	.search-s{
		float: right;
	}
	#city-picker{
		word-break:keep-all;
		display: block;
		white-space:nowrap;
		overflow:hidden;
		text-overflow:ellipsis;
	}
	#city-picker>div{

	}
</style>
<js href="__PUBLIC__/citypicker/js/city-picker.data.min.js"/>
<js href="__PUBLIC__/citypicker/js/city-picker.min.js"/>
<css href="__PUBLIC__/citypicker/css/city-picker.css"/>
<div  class="app-container">
	<div class="row">
		<div class="col-md-6">
			<div  class="row">
				<div class="col-md-8">
					<div class="form-group">
	                	<div>
	                    	<input  id="city-picker" class="form-control" readonly type="text" value="湖北省/武汉市/洪山区" data-toggle="city-picker"/>
	                	</div>
	            	</div>
				</div>
				<div class="col-md-4">					
					<button class="btn-s btn btn-default">&nbsp;&nbsp;<i class="fa fa-search fa-1x"></i>&nbsp;&nbsp;</button>
					<span class="loader" style="display:none;">
						<include file="./Public/loader/spin.html"/>
					</span>
				</div>
			</div>
		</div>
	</div>
	<div class="row my-weather">
		
	</div>
	
</div>
<script src="https://cdn.bootcss.com/flot/0.8.3/jquery.flot.js"></script>


<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".btn-s").click(function(event) {
			var city=$("#city-picker").val();
			if(city!=""){
				postCity(city);
			}else{
				alert("请输入城市名称查询");
			}
		});
		$(".btn-s").click();
	});
	function postCity(city){
		$(".loader").css("display","inline-block");
		var url='{:U("Apps/Weather/getWeather")}';	
		$.post(url, {city: city}, function(data, textStatus, xhr) {
			if(data['status']==1){
				$('.my-weather').html(data['info']);
			}else{
				alert("请输入正确的城市名称再次查询");
			}
			$(".loader").css("display","none");
		});	
	}
</script>