<layout name="Public/template"/>
<style type="text/css">
	.btn-del{
		height: 2em;
		font-size:0.5em;
		vertical-align: middle;
	}
	td{
		border:none;
	}
</style>
<div class="row">
	<div class="col-md-12">
		<table class="table table-striped">
			{$htmls}

		</table>
	</div>
</div>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$('.btn-del').click(function(event) {
			var path=$(this).parent().parent().find('.file').text();
			var url="{:U('deletefile')}";
			$.post(url, {path: path}, function(data, textStatus, xhr) {
				if(data){
					window.location.reload();
				}else{
					alert_alt('删除失败，请重新删除!');
				}
			});
		});
	});
</script>