body{
	margin: 0 auto;
	text-align: center;
	font-family: "Helvetica Neue", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Helvetica, Arial, Verdana, sans-serif;
}
li{
	background-color: none;
	display: inline-block;
	padding: 0.6em;
	margin: 0;
	width: 10em;
    /*border: 0.01em solid red;*/
}
button{
	font-size:0.01em; 
}
.main{
	background-color: #f1f1f1;
	width: 90%;
	margin: 0 auto;
	text-align: center;
}