<!DOCTYPE html>
<html>
<head>
	<title>xhust</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<link rel="shortcut icon" href="__PUBLIC__/Apps/xhust.ico">
</head>
<style type="text/css">
	.my-container{
		padding-top:5em;
		padding: 0 0.3em 0 0.3em;
	}
	
	.app-container{
		
	}
	.app-title{
		display: inline-block;
		margin: 0.5em 0 0.5em 0;
		background: transparent;
	}
	.thumb-up{
		font-size: 1.2em;
		margin: 0em 1em 0 1em;
	}
	body{
		background: #eeeeee;
	}
</style>
<include file="./Public/Html/function.html"/>
<body style="background: #eeeeee;">
	<include file="./Public/Html/header.html"/>	
	<div {:choose_class()}>
		<div class="my-container">
			
			{__CONTENT__}
			<neq name="app_id" value="0">
				<div class="row">
					<div class="col-md-6">
						<button class="btn btn-success thumb-up"> 
							&nbsp;我觉得这个应用不错，我要点赞&nbsp;<i class="fa fa-thumbs-up fa-lg"></i><span class="love_times">{$love_times}</span>&nbsp;
						</button>
					</div>
					<div class="col-md-6">
						1
						<include file="./Public/baidushare/baidushare.html"/>
					</div>
				</div>				
			</neq>
			<div class="comment">
				{:W('Comment/index',array($app_id))}
			</div>
			<include file="./Public/Html/footer.html"/>
		</div>
	</div>
	<include file="./Public/Html/anchor.html"/>	
</body>
	<script type="text/javascript">
		var pt=$(".mynavdiv").height();
		$('.my-container').css('padding-top',pt);
		jQuery(document).ready(function($) {

			$(window).resize(function(event) {
				var pt=$(".mynavdiv").height();
				$('.my-container').css('padding-top',pt);
			});
			$(".thumb-up").click(function(event) {
				var url='{:U("Home/Index/addHeart")}';
				var appid='{$app_id}';
				$.post(url, {id: appid}, function(data, textStatus, xhr) {
					if(data['status']==1){
						$(".love_times").text(data['data']);
					}
				});	
			});
			$(window).load(function() {
				document.addEventListener('touchstart',function (event) {  
	            if(event.touches.length>1){  
	                event.preventDefault();  
	            	}  
	       		}); 
	        	var lastTouchEnd=0;  
	        	document.addEventListener('touchend',function (event) {  
	            	var now=(new Date()).getTime();  
	            	if(now-lastTouchEnd<=300){  
	                	event.preventDefault();  
           			}  
        			lastTouchEnd=now;  
        		},false);  
			});
		});
	</script>
</html>