<layout name="Public/template"/>
<style type="text/css">
	.loader{
		display: none;
	}
	.base64-img{
		max-width: 100%;
		max-height: 100%;
	}
</style>
<div class="row">
	<div class="col-md-12">
		<h3 class="app-title"><i class="fa fa-file-code-o fa-1x"></i>&nbsp;图片转Base64&nbsp;|&nbsp;Base64 Image</h3>
	</div>
</div>
<div class="row">
	<div class="col-md-6">
		<div class="trans-div">
			<div class="form-group">
				<label for="">上传图片转换</label>
				<input class="form-control" id="fileupload" type="file" name="file">		
			</div>
			<div class="form-group">
				<label>转换结果<span class="loader">
					<include file="./Public/loader/spin.html"/>
				</span>
				</label>
				<textarea class="form-control base64-out" rows="4" placeholder="Base64码结果将在这里显示" readonly></textarea>
			</div>
		</div>
	</div>
	<div class="col-md-2">
		<img class="base64-img">
	</div>
	<div class="col-md-4">
		<img style="max-width: 100%;" src="__PUBLIC__/Apps/Base64img/img/bg.gif">
		<p style="line-height: 1.6em;">
			&nbsp;&nbsp;&nbsp;&nbsp;我们在做js插件的时候，偶尔会用到一些小图标需要嵌入代码中，如果我们使用url定位图片固然可以，但是可移植性受到影响。因此，我们需要将小图片经过编码成字符串，
			然后直接引入到插件中，非常方便，当然缺点就是浏览器不会缓存。我们通过PHP将图片以字符串形式读取，然后将字符串编码成base64码，过程非常简单，但是非常实用。
		</p>
	</div>
</div>
<js href="__PUBLIC__/jQuery-File-Upload-8.8.5/js/vendor/jquery.ui.widget.js"/>
<js href="__PUBLIC__/jQuery-File-Upload-8.8.5/js/jquery.iframe-transport.js"/>
<js href="__PUBLIC__/jQuery-File-Upload-8.8.5/js/jquery.fileupload.js"/>
<js href="__PUBLIC__/loader/js/spin.js"/>
<js href="__PUBLIC__/loader/jquery.loader.js"/>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$('#fileupload').fileupload({
	        dataType: 'json',
	        url:"{:U('uploadImg')}",
	        done: function (e, data) {
	           /*alert(JSON.stringify(data));*/
	           if(data.result.status==1){	           	  
				   /*alert(data.result.code);*/
				   $(".base64-out").val(data.result.code);
				   var url="data:"+data.result.filetype+";base64,"+data.result.code;
				   var h=$(".trans-div").height();
				   $(".base64-img").css("max-height",h+"px");
				   $(".base64-img").attr("src",url);

	           }else{
	           	   alert_alt(data.result.error);	
	           }
	           $(".loader").css('display','none');
	        },
	        change:function(){
	        	$(".loader").css('display','inline-block');
	        }
   		});
	});
</script>